<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<h1>課題のページ！！！！</h1>
<% require 'pg' %>
<% connection = PG::connect(dbname: "goya") %>
<% connection.internal_encoding = "UTF-8" %>
<!-- formに囲まれている内容を、indicate.rb(cgi)に送信しますという記述 -->
<!--'POST'メソッドを使用して送信-->
<form action='task_indicate.cgi' method='POST'>
  下記に文字を入力してください<br><br>
  <!-- このinputに入力された情報が、submitの送信ボタンでデータとして送られる -->
  <!-- name='input'は送られた先の目印となる情報 -->
  <!-- type="text"は入力ができるフォームを作成するという記述 -->
  <input type="text"  name='input' ><br>
  <input type="submit" name="送信" >
</form>
<% result = connection.exec("select weight, give_for from crops;") %>
<% data = [] %>
<% result.each do |record| %>
  <%  data << "ゴーヤの大きさ：#{record["weight"]}　売った相手：#{record["give_for"]}" %>
<% end %>
<form action="task_goya.cgi" method="POST">
  下記のボタンを押すと、ゴーヤの大きさと売った相手の情報ページに飛びます<br><br>
  <!-- valueには、送りたいデータを代入する -->
  <!-- name="goya"を、情報の目印とする -->
  <input type="text" name="goya" value="<%= data.join(' ') %>">
  <input type="submit" name="送信" >
</form>
</body>
</html>